<body>
  <h1>Bibliophile</h1>
  <h1>User Book List</h1>
  <% if (books && books.length > 0) { %>
    <ul>
      <% books.forEach(book => { %>
        <li>
          <%= (book.image) %>
          <h3><%= book.name %></h3>
          <p><strong>Author:</strong> <%= book.author %></p>
        </li>
        <label for="readingStatus">Status:</label>
    <select name="readingStatus[]" id="readingStatus">
      <% readingStatus.forEach((status) =>{ %>
      <option value="<%= status._id %>"><%= status.name %></option>
      <% })%>
    </select>
      <% }); %>
    </ul>
  <% } else { %>
    <p>You have no books in your list.</p>
  <% } %>

  <!-- Add links to other pages if needed -->
  <a href="/books/book-page">Add more books</a>
</body>