<body class="bookbody">
  <br>
  <%- include('../partials/_navbar.ejs') %>
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <div class="box">
    <h1>Your Profile</h1>
    <p>Welcome to your profile!</p>
    <form
      action="/profile/<%= user._id %>?_method=PUT"
      method="POST"
      enctype="multipart/form-data"
    >
      <label for="profilePicture">Profile Picture:</label>
      <br>
      <% if (user.image) { %>
      <div id="profile-img">
        <img
          src="../uploads/<%= user.image %> "
          alt="<%= user.username %>"
          class="profilePicture"
         
        />
      </div>
      <br>
      <% } else { %>
        <div id="profile-img">
          <img
          src="../img/default.png"
            alt="<%= user.username %>"
            class="profilePicture"
          />
        </div>
      <br>
      <% } %>
      <div id="file-btn">
      <input type="file" name="image" accept="image/*" value="" />
      </div>

      <nav>
        <label for="name">UserName:</label>
        <input type="text" name="username" value="<%= user.username %>"  />
      </nav>
      <label for="password">New Password:</label>
      <input type="password" name="password" placeholder="Enter new password" required/>
      <br />
      <button class="box" type="submit">Update Profile</button>
    </form>
    
  </div>
  <br>
  <br>
  <br>
</body>
