<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Book-details</title>
</head>
<body>

<%- include('../partials/_navbar.ejs') %>

<div id="show-book-details">
    <h2><%= book.title %></h2>
    <p><strong>Author: </strong> <%= book.volumeInfo.authors ? book.volumeInfo.authors.join(', ') : 'Unknown' %></p>              
    <p><strong>Genre: </strong> <%= book.volumeInfo.categories %></p>
    <p><strong>Published Date: </strong> <%= book.volumeInfo.publishedDate || 'Unknown Published Date' %></p>
    <p><strong>Description: </strong> <%- book.volumeInfo.description || 'No Description Available' %></p>
    <p><strong>Rating: </strong> <%= book.volumeInfo.averageRating || 'No rating available' %></p>
        

    <img width="130"src="<%= book.volumeInfo.imageLinks ? book.volumeInfo.imageLinks.thumbnail : '/img/cover.png' %>" alt="Book cover" />
    <br>
    <br>
    </div>

   

<form action="/books/show/:id" method="POST">
    <input type="hidden" name="bookId" value="<%= book.id %>">
    
    <button type="submit">Add to my list</button>
</form> 

<button> Remove From my list </button> 

    <a href="/books/book-page">Book Page</a>

</body>
</html>
